# MCDR Plugins requirements
# Collected from https://github.com/MCDReforged/PluginCatalogue/tree/meta
aiocqhttp
APScheduler
colorlog
cryptography
googletrans
hjson
javaproperties
jproperties
lz4
nbt
parse
psutil
py-cpuinfo
pycryptodome
pycryptodomex
PyNBT
pytz
pyyaml
redbaron
requests
ruamel.yaml
simpleeval
speedcopy
SQLAlchemy
uvicorn
websocket-client
xxhash
zstandard
