# MCDR Plugins requirements
# Collected from https://github.com/MCDReforged/PluginCatalogue/tree/meta
aiocqhttp
APScheduler
blake3
colorlog
cryptography
fastapi
googletrans
hjson
javaproperties
jproperties
mcdreforged
lz4
nbt
parse
psutil
py-cpuinfo
pycryptodome
pycryptodomex
pydal
PyNBT
pytz
pyyaml
pyzstd
redbaron
requests
ruamel.yaml
simpleeval
speedcopy
SQLAlchemy
uvicorn
websocket-client
xxhash
zstandard
