name: CI for Minecraft installer yolks

on:
  push:
    branches:
      - master
    paths:
      - ".github/workflows/image_minecraft_installer.yml"
      - ".github/workflows/image_one.yml"
      - "yolks/minecraft/installer/**"
  schedule:
    - cron: '0 6 1 * *'  # At 06:00 on day-of-month 1
  workflow_dispatch:

jobs:
  image:
    name: java=${{ matrix.java }}
    strategy:
      matrix:
        java: ['8', '17', '21', '25']

    uses: ./.github/workflows/image_one.yml
    secrets: inherit
    with:
      dockerfile_path: yolks/minecraft/installer/Dockerfile
      docker_build_context: yolks/minecraft/installer
      build_args: |-
        JAVA_VERSION=${{ matrix.java }}
      image_name: fallenbreath/pterodactyl-yolks
      image_tag_maker_script: |-
        let targetTags = ['minecraft-installer-${{ matrix.java }}']
        if ('${{ matrix.java }}' == '21') {
          targetTags.push('minecraft-installer')
        }
        core.setOutput('target_tags', targetTags.join('\n'))
      push: ${{ github.event_name != 'pull_request' }}
